<ul>
<% @users.each do |u| %>
  <li>
 	  <%= u.name %>
  <%= link_to 'Show', user_path(u) %>
  <%= link_to 'Edit', edit_user_registration_path(u) %>
  
  </li>
<% end %>
</ul>
<%= link_to 'Add New User', new_user_registration_path %>